:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #d0ced8;
  --color-body-darker: #5c5577;
  --border-radius: 40px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif, Arial, Helvetica;
  color: var(--color-body);
  line-height: 1.5;
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.3s ease;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */

.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.3rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}
/*Todo :Add Icon for list  */
.list--tick {
  list-style-image: url(../IMAGES/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0.5rem;
  }
}

/* Icons */

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon-container--accent {
  background: var(--color-accent);
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--white {
  fill: #fff;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--small {
  width: 30px;
  height: 30px;
}
/* Buttons */

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 6rem;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 40px;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #3a8ffd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background: #00c8eb;
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: var(--color-headings);
  color: #fff;
}

.btn--outline:hover {
  background: transparent;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--inline {
  background: transparent;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--inline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn-search {
  padding: 0;
  width: 17.5rem;
  height: 6.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: var(--border-radius);
}

.btn--stretched {
  padding-left: 8rem;
  padding-right: 8rem;
}

/* Input */

.input {
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  padding: 1.5rem 3.5rem;
  outline: 0;
  font-size: 2rem;
  color: var(--color-headings);
}

.input-group {
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  display: inline-flex;
  margin: 5rem;
}

.input-group .icon {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.input-group .input {
  border: none;
  flex-grow: 1;
}

.input-group .btn {
  margin-right: 0px;
}

::placeholder {
  color: #cdcbd7;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.4rem;
  }
}

/* Card */

.card {
  border-radius: 10px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}
.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--secondary .badge--secondary {
  background: #02bbdb;
}

.card__body .list--tick {
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

/* Plans */

.plan__name {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 6rem;
}

.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 0.8;
}

.plan__description {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
}

.plan--popular .card__header {
  position: relative;
  border-radius: 10px 10px 0 0;
}

.plan--popular .card {
  overflow: visible;
}

.plan--popular .card__header::before {
  content: url(/IMAGES/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10%;
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
}

/* Media */

.media {
  display: flex;
}

.media__title {
  margin: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 2rem;
}

.quote {
  padding-left: 6rem;
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.5;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
}

.quote__company {
  color: var(--color-headings);
  opacity: 0.4;
  font-size: 2rem;
}

.quote-line {
  position: relative;
  bottom: 17px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
  .quote-line {
    bottom: 22px;
  }
}

/* Grids */

.green {
  background: green;
  height: 100px;
}

.blue {
  background: blue;
  height: 100px;
}

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */

.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: -32px;
}

/* Callout */

.callout {
  padding: 4rem;
}

.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
  /* text-align: left; */
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}
