<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-container">
      <svg class="icon icon--primary collapsible__chevron">
        <!-- todo :fix chevron not showing -->
        <use xlink:href="IMAGES/sprite.svg#clock"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio aspernatur
    itaque ratione exercitationem tempore maxime expedita tempora minus, quod
    harum!
  </div>
</div>
