<section class="block container block--domain">
  <header class="block__header">
    <h2>Starting at $9 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
      perspiciatis veritatis nostrum vitae laboriosam. Totam fugit nostrum
      officia non maxime.
    </p>
    <div class="input-group">
      <input type="text" class="input" placeholder="Enter a domain name..." />
      <button class="btn btn--accent btn-search">
        <svg class="icon">
          <use xlink:href="IMAGES/sprite.svg#search"></use>
        </svg>
        Search
      </button>
    </div>
  </header>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</section>
