<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab earum
    aspernatur maiores eaque repellendus esse illo magni eos aperiam assumenda.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote-line">
          <!-- todo: fix the fill of snap svg -->
          <use xlink:href="IMAGES/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__company">ABC COMPANY</p>
      </div>
    </div>
  </footer>
</blockquote>
